body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

header {text-align: center;}

#game-container {
    display: flex;
    justify-content: center; /* Cambiado de space-between para mejor control */
    align-items: center;
    gap: 10px;
    flex-grow: 1; /* Esto hace que el juego ocupe el espacio central disponible */
    margin: 10px;
}

.shore {
    width: 150px; /* Un poco más angosto */
    height: 200px; /* Reducido de 300px a 200px */
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#river {
    width: 300px;
    height: 100px;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

#boat {
    width: 200px;
    height: 100px;
    border: 2px dashed brown;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9e79f;
    margin: 0 10px;
}


.character {
    font-size: 2em;
}
.contenedor {
    display: flex;
    justify-content: space-around; 
    width: 100%; 
    max-width: 800px; 
}

